<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
		<h1>Login</h1>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul class="messages">
					{% for category, message in messages %}
						{% if category == 'alert' %}
							<li class="alert">{{ message }}</li>
						{% elif category == 'positive-alert' %}
							<li class="positive-alert">{{ message }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<form method="POST">
			{{ form.csrf_token }}
			<label for="email">Email:</label>
			<input type="email" name="email" required>

			<label for="password">Password:</label>
			<input type="password" name="password" required>

			<button type="submit">Login</button>
		</form>
		<p>Don't have an account yet? <a href="{{ url_for('register') }}">Register here</a>.</p>
	</div>
</body>
</html>
