<!DOCTYPE html>
<html>
<head>
	<title>Update</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container">
		<h1>Update User</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul class="messages">
					{% for category, message in messages %}
						{% if category == 'alert' %}
							<li class="alert">{{ message }}</li>
						{% elif category == 'positive-alert' %}
							<li class="positive-alert">{{ message }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
        <form method="POST" action="{{ url_for('update_user') }}">		
			{{ form.csrf_token }}
            <label for="username">New Username:</label>
            {%with name=username%}
                <input required type="text" name="name" id="name" value = {{name}}><br><br>
            {%endwith%}
            <label for="email">New Email:</label>
            {%with email=mail%}
                <input required type="email" name="email" id="email" value = {{email}}><br><br>
            {%endwith%}
			<button type="submit" class="btn btn-primary">Update</button>
        </form>
	</div>
</body>
</html>
